<h1>Listing crawler_configs</h1>

<table>
  <tr>
	<th/>
	<th/>
	<th/>
    <th>crawlerConfigId</th>
    <th>description</th>
    <th>crawlingEnabled</th>
    <th>startURL</th>
    <th></th>
  </tr>

<% @crawler_configs.each do |crawler_config| %>
  <tr>	
    <td><%= link_to 'Show', crawler_config %></td>
    <td><%= link_to 'Edit', edit_crawler_config_path(crawler_config) %></td>
    <td><%= link_to 'Destroy', crawler_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= crawler_config.crawlerConfigId %></td>
    <td><%= crawler_config.description %></td>
    <td><%= crawler_config.crawlingEnabled %></td>
    <td><%= crawler_config.startURL %></td>
  </tr>
<% end %>
</table>

<br />

<%= admins_only do %>
<%= link_to 'New Crawler Config', new_crawler_config_path %>
<% end %>
