<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @crawler_config.description %>
</p>

<p>
  <b>crawlingEnabled:</b>
  <%= @crawler_config.crawlingEnabled %>
</p>

<p>
  <b>startURL:</b>
  <%= @crawler_config.startURL %>
</p>

<p>
  <b>intervalInHours:</b>
  <%= @crawler_config.intervalInHours %>
</p>

<p>
  <b>useSourceId:</b>
  <%= @crawler_config.useSourceId %>
</p>

<% admins_only do %>
<%= link_to 'Edit', edit_crawler_config_path(@crawler_config) %> |
<%= link_to "Delete Crawler Config", @crawler_config, :method => :delete, :confirm => "Are you sure you want to delete this crawler config?" %> |
<% end %>
<%= link_to 'Back', crawler_configs_path %>

<br>

<%= link_to "New Crawl History", new_crawler_config_crawl_history_path(@crawler_config) %>

<h3>Crawl Histories</h3>
<ul id='crawl_histories'>
  <% @crawler_config.crawl_histories.each do |crawl_history| %>
    <li>
      <%= crawl_history.crawlHistoryId %> <%= crawl_history.startTime %> <%= crawl_history.endTime %> <%= crawl_history.ip %> <%= link_to crawl_history.totalTimeInSecs, [@crawler_config, crawl_history] %>
    </li>
  <% end %>
</ul>
